.slide {
  width: 100vw;
  height: 80vh;
  background: 
  // linear-gradient(rgba(193, 230, 248, 0.5), rgb(249, 249, 249)),
    url("../../public/assets/banner2.jpg");
  background-position: center top;
  background-size: cover;

  h1 {
    padding: 40px 20px;
    font-size: 40px;
    text-align: center;
    color: white;
  }
}

